# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv

# FastAPI / Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/

# Logs
*.log

# Environment variables
.env
.env.*

# IDEs
.vscode/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Distribution / build
dist/
build/
*.egg-info/

# Local Files
local_files
